footer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.contactMe {
    font-size: 30px;
    color: #b637c2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}   
.contactList {
    font-size: 25px;
    color: #7a5ec5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.contactMode {
    font-size: 20px;
    color: #a6f8e6;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.imageMode{
    width: 100px;
    height: 100px;
}
