.gridMenu {
    max-width: 1000px;
    max-height: 50px;
    margin: 0 auto;
    background-color: $link-bg;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px;
    @include xl {
        grid-template-columns: 1fr;
        grid-template-rows: 50px;
        background-color: $link-bg;
    }
}

.gridCase {
    max-width: 1000px;
    max-height: 50px;
    margin: 50px 20px 0 133px;
    gap: 0;
    background-color: $gridPro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    @include xl {
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        margin: auto;
    }
}
